.userPhoto {
    width: 60px;
    height: 60px;
}

.selectedPage {

    font-weight: bold;
    color: white;
    background-color: seagreen;
    border: 3px solid blue ;
    border-radius: 5px;
}


.paginator {
    margin: 10px;
}

.pageNumber {
    padding: 2px;
    
}
pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}
