.header {
    grid-area: h;
    background-color: cornflowerblue;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;



}

.post img {
    width: 350px;

    
}

/* 
.loginBlock {

    background-color: rgb(100, 237, 100);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.loginBlock a {
    grid-area: l;
    color: white;
} */
