.ava {
  padding-left: 30px;
}
.post {
    background-color: rgb(159, 202, 184);
    border-radius: 5px;
}

.post img {
    width: 350px;
    margin-left: 30px;
    
}

.mainPhoto {
  max-width: 200px;  
}

.contact {
  padding-left: 30px;
}


