.news {
    display: grid;

    grid-template-columns:  1fr ;
    grid-template-rows: 1fr 1fr;

  
    border-radius: 5px;

    background-color: lightgray;

}
.new {

    background-color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.newTitle {
    background-color: white;

    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}




